{{component-table data=selectedMetrics columns=metrics_cols targetObject=this}}

<p>{{tr "Select metrics above to insert them in the formula"}}</p>

{{input value=content.value class="form-control"}}
