{{#if controller.controllers.application.runtimeConfiguration.DEBUG}}
    <div>parent form: {{controller.formParent}}</div>
{{/if}}

{{component-classifieditemselector target=controller content=controller.widgets showselection=false userview=controller.formContext}}
