<div class="form-inline">
    <div class="form-group">
        Column name: {{input value=column class="form-control" type="text"}}
    </div>
    <div class="form-group">
        Template: {{summernote-editor content=template}}
    </div>
</div>