# api specifies properties to create an HTTP request to be sent to canopsis API.
# Only Basic Auth is supported which is defined by env vars CPS_API_USERNAME and CPS_API_PASSWORD.
api:
  # host specifies the URL to access.
  host: https://api.canopsis
  # insecure_skip_verify controls whether a client verifies the server's
  #	certificate chain and host name. If true, crypto/tls
  #	accepts any certificate presented by the server and any host name in that
  #	certificate. In this mode, TLS is susceptible to machine-in-the-middle
  #	attacks unless custom verification is used.
  insecure_skip_verify: false
# pbehavior specifies properties to create pbehavior in canopsis API on icinga2 downtime.
pbehavior:
  # type specifies corresponding pbehavior type.
  type: default_maintenance
  # reason specifies corresponding pbehavior reason.
  reason: default_reason
