{{statusview value this}}

{{#if this.statushtml}}
    <span>{{this.statusvalue}}</span>
    {{#component-tooltip content=this.statushtml htmlEnabled=true}}
        <span><i class="fa fa-male"></i></span>
    {{/component-tooltip}}
{{else}}
    <span>{{this.statusvalue}}</span>
{{/if}}
