<div class="form-inline">
    <div class="form-group">
        {{input value=property class="form-control" type="text"}}
    </div>
    <div class="form-group">
        {{view Ember.Select
            content=directionTypes
            value=direction
            class="form-control"
        }}
    </div>
</div>

