$seeAlarmBtnHeight: 18px;
$mobileBreakpoint: 450px;

html {
  background-color: var(--v-application-background-base);
}

.v-app--disabled-transitions {
  .v-navigation-drawer {
    &, .v-item-group, .v-expansion-panel {
      transition: none !important;
    }
  }

  .v-main, .v-toolbar {
    transition: none !important;
  }
}

.v-toolbar--fixed {
  z-index: 3;
}

.v-overlay {
  z-index: 8;
}

.v-navigation-drawer--is-mobile, .v-navigation-drawer--temporary {
  z-index: 9;
}

.v-list .v-list-item {
  > *:not(.v-list-item__action) {
    .v-input {
      &, &__slot {
        margin-top: 4px;
      }

      &__slot {
        margin-bottom: 8px;
      }

      .v-messages {
        display: block;
      }
    }
  }
}

.v-tabs__div {
  max-width: none;
}

.fab {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.wf-loading, .wf-inactive {
  .v-icon {
    max-width: 24px !important;
    max-height: 24px !important;
    overflow: hidden !important;
  }
}

.v-window__container--is-active {
  height: 100% !important;
}

.position {
  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }
}

.validation-header.error--text {
  animation: shake .6s cubic-bezier(.25,.8,.5,1);
  transition: .3s cubic-bezier(.25,.8,.5,1);
}

.draggable {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.cursor {
  &-pointer {
    cursor: pointer !important;
  }

  &-move {
    cursor: move !important;
  }

  &-default {
    cursor: default !important;
  }
}

.pre {
  white-space: pre;
}

.pre-wrap {
  white-space: pre-wrap;
}

.pre-line {
  white-space: pre-line !important;
}

.v-tooltip__content {
  max-width: 60%;

  @media screen and (max-width: $mobileBreakpoint) {
    max-width: 80%;
  }
}

.operator-chip {
  background: #a6a6a6;
  padding: 3px 8px;
  color: white;
  border-radius: 5px;
}

.fill-min-height {
  min-height: 100vh;
}

.v-menu__activator {
  &--disabled {
    cursor: default !important;

    & * {
      cursor: default !important;
    }
  }
}

.c-nowrap {
  white-space: nowrap;
}

.progress-linear-absolute--top {
  position: absolute !important;
  width: 100% !important;
  margin: 0 !important;
  top: 0 !important;
  left: 0 !important;
}

.group-checkbox {
  height: 24px;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

.c-extra-details__message {
  max-width: 600px;
  white-space: pre-line;
}

.c-table-header {
  &__text {
    &--multiline {
      white-space: pre-line !important;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.c-word {
  &-break {
    &-all {
      word-break: break-all;
    }
  }

  &-wrap {
    &-break {
      word-wrap: break-word;
    }
  }
}

.border-radius-rounded {
  border-radius: 50% !important;
}

.map-preview__help-icon.v-icon {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.alarm-counters {
  background-color: rgba(0, 0, 0, .2);
  flex-basis: 60px;
  flex-grow: 0;
  flex-shrink: 0;
}

@keyframes blink {
  0% { opacity: 1 }
  50% { opacity: 0.3 }
}

.blinking {
  animation: blink 2s linear infinite;
}

.kpi-widget {
  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__chart, &__table {
    width: 100%;
  }

  &__list {
    gap: 50px;
  }

  &__actions {
    width: 100%;
  }
}

.widget-filters {
  column-gap: 24px;

  &__sampling {
    max-width: 100px;
  }

  &__filter-selector, &__interval {
    max-width: 200px;
  }
}

.fill-width {
  width: 100%;
}

.v-btn-legacy-m {
  &--x {
    margin-left: 8px;
    margin-right: 8px;
  }

  &--y {
    margin-bottom: 6px;
    margin-top: 6px;
  }

  margin: 6px 8px;
}

.v-icon svg {
  fill: currentColor;
}

*[aria-required="true"] label:before {
  content: '*';
  padding-right: 4px;
  color: var(--v-error-base);
}

@for $i from 0 through 16 {
  .row-gap-#{$i}, .gap-#{$i} {
    row-gap: $i * 4px;
  }
  .col-gap-#{$i}, .gap-#{$i} {
    column-gap: $i * 4px;
  }
}
