.git/
sources/webcore
!sources/webcore/src
sources/webcore/src/canopsis/canopsis-backend-ui-connector/doc
sources/webcore/src/canopsis/canopsis-pbehavior/doc
sources/webcore/src/canopsis/canopsis-rights/doc
sources/webcore/src/canopsis/canopsis-ui/doc
sources/webcore/src/canopsis/canopsis-vevent/doc
sources/webcore/src/canopsis/charts/doc
sources/webcore/src/canopsis/core/doc
sources/webcore/src/canopsis/monitoring/doc
sources/webcore/src/canopsis/tests/doc
sources/webcore/src/canopsis/uibase/doc
sources/webcore/src/canopsis/uiv1_themes/doc
sources/webcore/src/canopsis/userpreferences/doc
sources/externals
!sources/externals/python-libs
sources/extra
