{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "@vue/airbnb"
  ],
  "plugins": [
    "vue"
  ],
  "rules": {
    "max-len": ["error", { "code": 120, "ignoreStrings": true }],
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state", "config"] }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-return-assign": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id", "_embedded"] }]
  }
}
