_build/
doc/logs
log
doc/locale
/sources/packages/ssl-conf/blacklist
build_messages.txt
.idea
.cache
.coverage
*~
.\#*
\#*\#
*.*.swp
Vagrantfile
*.vagrant
requirements_control
docker/files/bricks/brick-*
docker/bricks
tools/catag/catag
tools/catag/vendor
.DS_Store
.Spotlight-V100
.Trashes
.vscode
# python wheels
*.whl
# python bytecode
*.pyc
.mypy_cache

packages

env-release.sh
