[submodule "sources/externals"]
	path = sources/externals
	url = https://github.com/capensis/canopsis-externals
	ignore = dirty

[submodule "sources/webcore"]
	path = sources/webcore
	url = https://github.com/srassinoux/canopsis-webcore
	ignore = dirty
