[submodule "sources/externals"]
	path = sources/externals
	url = https://git.canopsis.net/canopsis/canopsis-externals.git
	branch = develop
[submodule "sources/webcore"]
	path = sources/webcore
	url = https://git.canopsis.net/canopsis/canopsis-webcore.git
	branch = develop
