log/
externals/pylibs/*/
packages/*/files.lst
packages/*/files.tgz
*/draft
*/drafts
externals/*/
*.pyc
*neb2socket.o
!externals/rabbitmq-plugins
packages/files.lst
bootstrap/*.tgz
webcore/var/www/canopsis/resources/lib
pyperfstore/*.egg*
pyperfstore2/*.egg*
webcore/var/www/canopsis/canopsis.js
webcore/var/www/canopsis/canopsis.min.js
webcore/var/www/canopsis/canopsis.min.js.gz
webcore/var/www/canopsis/commit.js
*~
