<a class="btn btn-default" style="display:inline" {{action "toggleRightChecksum" "R" item}}>R</a>
<a class="btn btn-default" style="display:inline" {{action "toggleRightChecksum" "W" item}}>W</a>
<a class="btn btn-default" style="display:inline" {{action "toggleRightChecksum" "X" item}}>X</a>
