html{
	overflow: auto;
}
.content {
	overflow: auto;
}

.widget {
	overflow: auto;
}

.jsonUl {
	padding:0px;
}
.jsonLi {
	list-style-type: none;
	padding-left:10px;
}

th {
	text-align: center;
}

.main-content {
	padding: 40px 15px;
	text-align: center;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}

.canopsis-icon {
	display: inline-block;
	margin: auto;
	width: 48px;
	height: 48px;
}

.canopsis-divicon {
	display: block;
	margin: auto;
	width: 48px;
	height: 48px;
}

.canopsis-state-ok {
	background-image: url('/static/canopsis/media/images/states/0.png') !important;
}

.canopsis-state-warning {
	background-image: url('/static/canopsis/media/images/states/1.png') !important;
}

.canopsis-state-critical {
	background-image: url('/static/canopsis/media/images/states/2.png') !important;
}

.canopsis-state-unknown {
	background-image: url('/static/canopsis/media/images/states/3.png') !important;
}

.canopsis-enabled {
	background-image: url('/static/canopsis/media/images/bullet_green.png') !important;
}

.canopsis-disabled {
	background-image: url('/static/canopsis/media/images/bullet_red.png') !important;
}

.handle{
	cursor:pointer;
}

.color{
	color:#333;
	border-radius:4px;
	padding:4px;
}

.alertBox{
	position:absolute;
	z-index:100;
	width:50%;
	left:25%;
	margin-top:30px;
}

.consolePanel{
	background-color:#eee;
	position:absolute;
}

.OK{
	background-color: #59d43e;
	margin:1px;
	padding:3px;
	text-align: center;
	border : 2px solid white;
	font :  12px serif ;
	color:white;
	width:20%;
	height:50%;
	float:left;
}

.Warning{
	background-color: #FF9900 ;
	margin:1px;
	padding:3px 3px 3px 3px;
	text-align: center;
	border : 2px solid white;
	font :  12px serif ;
	color:white;
	width:20%;
	height:50%;
	float:left;
}

.Alert{
	background-color: #FF0000;
	margin:1px;
	padding:3px;
	text-align: center;
	border : 2px solid white;
	font :  12px serif ;
	color:white;
	width:20%;
	height:50%;
	float:left;
}

.cell
{
	border : 2px solid white;
}

.global {margin: 0 auto;}


.label{
	 text-align: center;
	 position: relative;
	vertical-align: middle;
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}

.help-block{
	color : #C94141;
}

.btn-items-green:hover{
	background-color:rgb(164, 244, 77);
}

.btn-items-red:hover{
	background-color:rgb(244, 77, 164);
}

.btn-items-green{
	background-color :  rgb(10, 255, 10);
	border: 2px solid  rgb(137, 255, 137);

	border-radius: 12px;
	color : white;
	width : 8%;
	height : 29px;
}

.btn-items-red{
	background-color : rgb(240, 10, 10);
	border: 2px solid  rgb(255, 137, 137);

	border-radius: 12px;
	color : white;
}

.btn-items-green:active{
	background-color :  rgb(255, 255, 10);
	border: 0px solid  rgb(137, 255, 137);
}

.ember-select-results,
.ember-typeahead-results {
  background-color: white  !important;
}

.ember-select {
	width:100%;
}


.dataTables_filter {
	margin-top:5px;
	margin-bottom:5px;
}

.dataTables_filter select, .dataTables_filter input {
	height: 34px;
	width: auto;
	display: inline-block;
}

.widget {
	padding:10px;
}

.btn.unclickable {
	cursor: default;
}

.btn.unclickable {
	cursor: default;
}

.nav-tabs > li .badge {
    margin: -2px 0 0 10px;
    font-size: 18px;
}