log/
externals/pylibs/*/
packages/*/files.lst
packages/*/files.tgz
*/draft
*/drafts
externals/*/
*neb2socket.o
!externals/rabbitmq-plugins
packages/files.lst
bootstrap/*.tgz
webcore/var/www/canopsis/resources/lib
webcore/var/www/canopsis/commit.js
build
dist

#####################
# Python files
#####################
*.egg
*.egg-info
*.pyc
pyperfstore/*.egg*
pyperfstore2/*.egg*

#####################
# Temp files
#####################
*~
build_messages.txt
