build/
cmd/engine-action/engine-action
cmd/engine-axe/engine-axe
cmd/engine-che/engine-che
cmd/engine-lifeline/engine-lifeline
cmd/engine-service/engine-service
cmd/feeder/feeder
cmd/ready/ready
vendor/
*.tar.gz
test-fpt.sh
*.test
!Dockerfile*
*.out
.vscode
*~
exchange
canopsis.toml
config/mongo/*
!config/mongo/000-default.yml
