$dense-padding = 6px
$ultra-dense-padding = 6px

$dense-cell-height = 32px
$ultra-dense-cell-height = 24px
$dense-treeview-cell-height = 32px

$dense-color-indicator-padding = 1px 5px

/* Theme */
v-table($material)
  thead
    th
      color: $material.text.secondary

v-datatable($material)
  thead
    th.column.sortable
      .v-icon
        color: $material.text.disabled

      &:hover
        color: $material.text.primary

      &.active
        color: $material.text.primary

        .v-icon
          color: $material.text.primary

  .v-datatable__actions
    color: $material.text.secondary

theme(v-table, "v-table")
theme(v-datatable, "v-datatable")

.v-datatable
  &.v-table
    background-color: var(--v-table-background-base) !important

  & tbody tr:not(.v-datatable__expand-row)
    background-color: var(--v-table-row-color-base) !important

  & tbody tr:nth-of-type(4n + 1),
  &:not(&--expand) tbody tr:nth-of-type(2n + 1)
    background-color: var(--v-table-shift-row-color-base, var(--v-table-row-color-base)) !important

  & tbody tr:not(.v-datatable__expand-row):hover
    background-color: var(--v-table-hover-row-color-base, var(--v-table-row-color-base)) !important

  &-header-span--ellipsis
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

table.v-datatable
  transition: background-color .3s cubic-bezier(.25,.8,.5,1)

  .v-datatable-header__sort-badge
    display: inline-flex
    justify-content: center
    align-items: center
    border: 0
    border-radius: 50%
    min-width: 18px
    min-height: 18px
    height: 18px
    width: 18px
    margin-left: 4px

    .theme--light &
      background-color: rgba(black, .12)
      color: rgba(black, .87)

    .theme--dark &
      background-color: rgba(white, .12)
      color: rgba(white, .87)

  &--dense
    thead tr
      height: $dense-cell-height

    tbody, thead
      tr:not(.v-datatable__progress)
        td, th
          padding: 0 $dense-padding !important

        td:not(.v-datatable__expand-col)
          height: $dense-cell-height

  &--ultra-dense
    thead tr
      height: $ultra-dense-cell-height

    tbody, thead
      tr:not(.v-datatable__progress)
        td:not(.v-datatable__expand-col), th
          padding: 0 $ultra-dense-padding !important

        td:not(.v-datatable__expand-col)
          height: $ultra-dense-cell-height

  &--dense,
  &--ultra-dense
    tbody, thead
      td:not(.v-datatable__expand-col)
        td, th
          padding: 0 $dense-padding !important

        .v-btn
          margin-top: 0
          margin-bottom: 0

        .color-indicator
          padding: $dense-color-indicator-padding !important

        .c-action-btn__button
          margin: 0 !important

    .service-dependencies
      thead tr, thead th, td:not(.v-datatable__expand-col)
        height: $dense-treeview-cell-height

      .treeview-data-table--tree
        margin-top: $dense-treeview-cell-height

      .v-treeview-node__root
        min-height: $dense-treeview-cell-height
        height: $dense-treeview-cell-height

        .v-btn
          width: $dense-treeview-cell-height - 4
          height: $dense-treeview-cell-height - 4
          margin: 2px
