v-stepper($material)
  .v-stepper__label
    color: $material.text.disabled;

    small
      color: $material.text.secondary

  &--non-linear
    .v-stepper__step:not(.v-stepper__step--complete):not(.v-stepper__step--error)
      .v-stepper__label
        color: $material.text.secondary

theme(v-stepper, "v-stepper")
