{{!-- {{#if controller.userCanDeleteRecord}} --}}
    <button class="btn btn-default btn-sm" {{action 'createMultiplePBehaviors'}} >
        {{tr 'Apply PBehavior'}}
    </button>
{{!-- {{/if}} --}}

