{{!#if controller.parentController.userCanReadRecord}}
    <button class="btn btn-default btn-xs" {{action 'show' this.id}} >
        <span class="glyphicon glyphicon-eye-open"></span>
    </button>
{{!/if}}
