{{#unless controller.findOptions.useLogCollection}}
    {{#if controller.rights.actionbutton_cancel.checksum}}
        <button class="btn btn-default btn-sm" {{action 'sendEvent' 'cancel'}} >
            <span class="glyphicon glyphicon-trash"></span>
            {{tr "Remove alarm"}}
        </button>
    {{/if}}
    {{#if controller.rights.actionbutton_uncancel.checksum}}
        <button class="btn btn-default btn-sm" {{action 'sendEvent' 'uncancel'}}>
            <span class="glyphicon glyphicon-share-alt"></span>
            {{tr "Restore alarm"}}
        </button>
    {{/if}}
{{/unless}}
