{{#unless controller.findOptions.useLogCollection}}
    {{#if controller.rights.actionbutton_cancel.checksum}}
        {{#if this.ack.isAck}}
            {{#component-tooltip content="Remove alarm"}}
                <button class="btn btn-default btn-xs" {{action 'sendEvent' 'cancel' this}} >
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            {{/component-tooltip}}
        {{/if}}
    {{/if}}
    {{#if controller.rights.actionbutton_uncancel.checksum}}
        {{#if this.ack.isCancel}}
            {{#component-tooltip content="Restore alarm"}}
                <button class="btn btn-default btn-xs" {{action 'sendEvent' 'uncancel' this}}>
                    <span class="glyphicon glyphicon-share-alt"></span>
                </button>
            {{/component-tooltip}}
        {{/if}}
    {{/if}}
{{/unless}}
