{{#if controller.userCanCreateRecord}}
    {{#if view.minified}}
        {{#component-tooltip content="Add entry for current list"}}
            <button class="btn btn-default btn-sm" {{action 'add' controller.itemType}} >
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        {{/component-tooltip}}
    {{else}}
        {{#component-tooltip content="Add entry for current list"}}
            <button class="btn btn-default btn-sm" {{action 'add' controller.itemType}} >
                <span class="glyphicon glyphicon-plus-sign"></span>
                    {{tr 'Create'}}
            </button>
        {{/component-tooltip}}
    {{/if}}
{{/if}}
