<span style="cursor:pointer;" {{action 'unfold' view}}>
    {{#if view.unfolded}}
        <span class="glyphicon glyphicon-minus"></span>
    {{else}}
        <span class="glyphicon glyphicon-plus"></span>
    {{/if}}
</span>
