<!--Display a link to the canopsis documentation-->
{{#if showDocumentationButton}}
	<li class="dropdown notification-menu">
	    <a href="/static/doc/index.html" target="_blank">
	        <i class="fa fa-book"></i>
	    </a>
	</li>
{{/if}}
