<table class="table table-bordered dataTable">
    {{#eachIndexed controller.widgetData}}
        {{#each columns in controller._partials.columnsLine}}
            <tr>
                <td></td>
                <td>
                    {{partial columns}}
                </td>
            </tr>
        {{/each}}

        {{render "groupedrowslistlinelayout" this
            parentController=controller even=even}}

        {{#if controller._partials.itemactionbuttons}}
            <tr>
                <td class="grouped-cell-label">
                    {{tr 'Actions'}}
                </td>
                <td>
                    <div style="display:flex">
                        {{partialslot slot=controller._partials.itemactionbuttons minified=true}}
                    </div>
                </td>
            </tr>
        {{/if}}
    {{/eachIndexed}}
</table>
