<div>
    {{#each item in controller.items}}
        <div {{bind-attr class="controller.section"}} >
            {{widgetslot item=item}}
        </div>
    {{/each}}
    <div style="clear:both"></div>
</div>
