<div class="pull-left dataTables_filter">
    {{view Ember.Select
        content=controller.itemsPerPagePropositions
        value=controller.itemsPerPagePropositionSelected
        class="inlineInput form-control input-sm"
    }}
    {{tr 'records per page'}}
</div>
