{{#if view.showPartialslots}}
    <div style="border:1px solid red; margin: 5px">
        <code>
            {{#each templateName in view.slot}}
                {{templateName}}
            {{/each}}
        </code>
        {{#each template in view.slot}}
            {{partial template}}
        {{/each}}
        <div style="clear:both"></div>
    </div>
{{else}}
    {{#each template in view.slot}}
        {{partial template}}
    {{/each}}
{{/if}}
