<div id="recordinfopopup" class="text-center alert alert-info alert-dismissable" style="display:none">
    <i class="fa fa-info"></i>
    <button {{action 'hide'}} type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="recordinfopopuphandle hand">
        <b>{{title}}</b><hr/>
    </div>
    <div class="recordinfopopupcontent">
        {{content}}
    </div>
</div>
