<button {{bind-attr class=":btn view.buttonsColorClass view.buttonsColorClass::btn-info view.buttonsColorSize view.buttonsColorSize::btn-xs"}} {{action 'toggleFullscreen' this}} >
    <span class="glyphicon glyphicon-fullscreen"></span>
</button>
