{{#if controller.editMode}}
    <button type="button" class="btn btn-info btn-xs" {{action 'moveup' item}} >
        <span class="glyphicon glyphicon-arrow-left"></span>
        {{#unless view.minified}}
            {{tr 'Move left'}}
        {{/unless}}
    </button>
{{/if}}
