
<button {{bind-attr class=":btn view.buttonsColorClass view.buttonsColorClass::btn-info view.buttonsColorSize view.buttonsColorSize::btn-xs"}} {{action 'refreshWidget' target=view.widget.controller}} >
    <span class="glyphicon glyphicon-refresh"></span>
</button>
