version: '2'
volumes:
  mongodbdata:
    driver: local
  influxdbdata:
      driver: local
  rabbitmqdata:
    driver: local
  importctxdata:
    driver: local
  dumpdata:
    driver: local
  exchangedata:
services:
  rabbitmq:
    image: rabbitmq:${RABBITMQ_TAG}
    volumes:
      - rabbitmqdata:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=cpsrabbit
      - RABBITMQ_DEFAULT_PASS=canopsis
      - RABBITMQ_DEFAULT_VHOST=canopsis
    restart: unless-stopped
    mem_limit: 2g
    mem_reservation: 2g
    oom_score_adj: -1000
  mongodb:
    image: mongo:${MONGODB_TAG}
    env_file: compose.mongo.env
    volumes:
      - mongodbdata:/data/db
      - "../docker/mongo/:/docker-entrypoint-initdb.d"
    restart: unless-stopped
    mem_limit: 3g
    mem_reservation: 3g
    oom_score_adj: -1000
    command: '--wiredTigerCacheSizeGB 2560'
  influxdb:
    image: influxdb:${INFLUX_TAG} 
    environment:
      - INFLUXDB_DB=canopsis
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin
      - INFLUXDB_USER=cpsinflux
      - INFLUXDB_PASSWORD=canopsis
      - INFLUXDB_WRITE_USER=cpsinflux
      - INFLUXDB_WRITE_USER_PASSWORD=canopsis
    volumes:
      - influxdbdata:/var/lib/influxdb
    restart: unless-stopped
    mem_limit: 1g
    mem_reservation: 1g
    oom_score_adj: -1000
  redis:
    image: redis:${REDIS_TAG} 
    restart: unless-stopped
  testing:
    image: canopsis/go-test:latest
    env_file:
      - compose.env
    depends_on:
      - mongodb
      - influxdb
      - redis
      - rabbitmq
    entrypoint: ["tail", "-F", "/dev/null"]
