[Unit]
Description=Canopsis Go Engine Axe
PartOf=canopsis.service
After=canopsis.service
ReloadPropagatedFrom=canopsis.service
After=network.target
Documentation=https://doc.canopsis.net/guide-administration/moteurs/moteur-axe/

[Service]
User=canopsis
Group=canopsis
WorkingDirectory=/opt/canopsis
Environment=HOME=/opt/canopsis
EnvironmentFile=/opt/canopsis/etc/go-engines-vars.conf
ExecStart=/usr/bin/env /opt/canopsis/bin/engine-axe -publishQueue Engine_correlation
PIDFile=/run/canopsis-engine-go-engine-axe.pid
Restart=always
RestartSec=1
StartLimitBurst=300

[Install]
WantedBy=canopsis.service
