{{#if description}}
    <div>
        {{description}}

        <span class="label label-default">
            {{value}}
        </span>
    </div>
{{else}}
    <span class="label label-default">
        {{value}}
    </span>
{{/if}}
