# https://www.mkdocs.org/about/release-notes
mkdocs==1.2.3 ; python_version >= '3.6'

# https://squidfunk.github.io/mkdocs-material/changelog/
mkdocs-material==7.3.6

# https://github.com/timvink/mkdocs-git-revision-date-localized-plugin/releases
mkdocs-git-revision-date-localized-plugin==0.9.3

# https://facelessuser.github.io/pymdown-extensions/about/changelog/
pymdown-extensions==9.1
