mkdocs==1.2.2 ; python_version >= '3.6'
# XXX: some Jinja2 versions, such as 2.10.1 on Ubuntu, have bugs, but mkdocs doesn't enforce 2.11 yet
Jinja2>=2.11.3
mkdocs-material==7.2.8
mkdocs-git-revision-date-localized-plugin==0.9.2
pymdown-extensions==8.2
