# https://www.mkdocs.org/about/release-notes
# warning: the documentation build machine has Python 3.7 by default
mkdocs==1.2.3 ; python_version >= '3.7'

# https://squidfunk.github.io/mkdocs-material/changelog/
# => also sync the Mermaid extra_javascript line in mkdocs.yml when updating this
mkdocs-material==8.1.11

# https://github.com/timvink/mkdocs-git-revision-date-localized-plugin/releases
mkdocs-git-revision-date-localized-plugin==0.12.1

# https://facelessuser.github.io/pymdown-extensions/about/changelog/
pymdown-extensions==9.2

# https://github.com/readthedocs/readthedocs.org/issues/9064
jinja2<3.1.0
