@import url(../fonts/material-icons/material-icons.css);

/* roboto-300 - vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-500.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/roboto-v18-vietnamese_latin_greek-ext_cyrillic-ext_cyrillic_latin-ext_greek-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
