# Currently, both Core and CAT required Python modules must be maintained
# in this file.
#
# Use '==' whenever possible. Only Python 2.7 compatible modules are
# allowed. Put indirect dependencies whenever possible, too.
#
amqp==2.4.2
Beaker==1.5.4
bottle==0.12.18
bottle-swagger-2==2.0.9
chardet==3.0.4
configparser==3.5.3
coverage==4.5.4
durationpy==0.5
enum34==1.1.10
Flask==1.0.2
Flask_RESTful==0.3.6
functools32==3.2.3-2
gevent==1.3.7
# "development of grako has stopped"
grako<=4.0.0
greenlet==0.4.17
# Python 2 support dropped after 20.0
gunicorn==19.10.0
icalendar==4.0.7
ijson==2.3
influxdb==5.1.0
jsonschema==2.6.0
kombu==4.1.0
lxml==4.2.6
mock==2.0.0
montydb==2.1.1
# task_ackcentreon (CAT)
paramiko==2.4.3
# Python 2 support dropped after 12.0
path.py==11.5.2
pika==0.11.2
procfs==0.5.0
psutil==5.4.8
# kpi engine (CAT)
psycopg2==2.8.4
# This fork is required for CentOS 7 compatibility. See canopsis#1791
pybars3 @ https://git.canopsis.net/canopsis/pybars3/-/archive/0.9.6-999/pybars3-0.9.6-999.tar.gz#sha1=a537276514d74d0643521324ebf8f6b58c11465e
pymongo==3.6.1
pyparsing==2.2.2
python-ldap==2.5.2
python3-saml==1.4.1
redis==2.10.6.2
redlock-py==1.0.8
requests==2.18.4
Routes==2.4.1
setuptools_cython==0.2.1
six==1.11.0
unittest-xml-reporting==2.1.1
# deprecated since 2018, code should use jsonschema
validictory==1.1.2
xmlsec==1.3.8
