<div class="form-group">
    <div class="radio">
        <label>
            {{view Ember.RadioButton name="alarmStateSelecation" selectionBinding="state" value="opened"}}
            opened
        </label>
    </div>
    <div class="radio">
        <label>
            {{view Ember.RadioButton name="alarmStateSelecation" selectionBinding="state" value="resolved"}}
            resolved
        </label>
    </div>
</div>