<div class="form-group">
    <div class="radio">
        <label>
            opened
        </label>
    </div>
    <div class="radio">
        <label>
            resolved
        </label>
    </div>
</div>