<div id="ember8909" class="ember-view toggle">
    <div class="icheckbox_minimal-grey" style="position: relative;">
        <input id="ember8910" class="ember-view ember-checkbox toggle" type="checkbox" style="position: absolute; opacity: 0;">
        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
    </div>
</div>

<div id="ember7542" class="ember-view toggle">
    <div class="icheckbox_minimal-grey checked" style="position: relative;">
        <input id="ember7543" class="ember-view ember-checkbox toggle" type="checkbox" style="position: absolute; opacity: 0;">
        <ins  class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
    </div>
</div>