{{#if view.errorMessages}}
	<div class="panel panel-danger">
		<div class="panel-heading">{{glyphicon 'warning-sign'}} An error occured !</div>
		<div class="panel-body">
			<p>
				An error occured while Canopsis was trying to display this widget.

				Here's more information about the problem : <br/>

				<ul>
					{{#each view.errorMessages}}
						<div class="alert alert-danger" role="alert">{{this}}</div>
					{{/each}}
				</ul>

				These informations might help too : <br/>

				<ul>
					<li>
						Parent : <br/>
						<ul>
							<li><b>title:</b> {{title}}</li>
							<li><b>xtype:</b> {{xtype}}</li>
						</ul>
					</li>
				</ul>
			</p>
		</div>
	</div>
{{else}}
	<div class="panel panel-warning">
		<div class="panel-heading">{{glyphicon 'warning-sign'}} Empty widget</div>
		<div class="panel-body">
			<p>
				This is an empty widget and might indicate a problem in the widget's xtype. Please check the view document.
				<ul>
					<li><b>title:</b> {{title}}</li>
					<li><b>xtype:</b> {{xtype}}</li>
				</ul>

				{{#each view.errorMessages}}
					{{this}}<br/>
				{{/each}}
			</p>
		</div>
	</div>
{{/if}}