{
  "root": true,
  "extends": [
    "plugin:vue/strongly-recommended",
    "@vue/airbnb",
    "plugin:vuetify/base"
  ],

  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "sourceType": "module"
  },

  "plugins": [
    "vue",
    "import-newlines"
  ],
  "globals": {
    "sel": true
  },
  "rules": {
    "object-curly-newline": "off",
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "default-case": "off",
    "max-len": ["error", { "code": 120, "ignoreStrings": true, "ignoreTemplateLiterals": true, "ignoreRegExpLiterals": true }],
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state", "config", "acc", "Vue", "browser", "wrapper"] }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-return-assign": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id", "_embedded", "_t", "_filter", "type_", "_original"] }],
    "no-bitwise": ["error", { "allow": ["&"] }],
    "no-continue": "off",
    "no-cond-assign": "off",
    "no-promise-executor-return": "off",
    "default-param-last": "off",
    "no-restricted-exports": "off",
    "prefer-regex-literals": ["error", { "disallowRedundantWrapping": true }],
    "vue/multi-word-component-names": "off",
    "vue/no-use-computed-property-like-method": "off",
    "vue/component-definition-name-casing": "off",
    "vue/require-default-prop": "off",
    "vue/require-prop-types": "error",
    "vue/no-unused-components": ["error", {
      "ignoreWhenBindingPresent": true
    }],
    "vue/order-in-components": ["error", {
      "order": [
        "el",
        "name",
        "parent",
        "functional",
        "$_veeValidate",
        ["provide", "inject"],
        ["delimiters", "comments"],
        ["components", "directives", "filters"],
        "extends",
        "mixins",
        "inheritAttrs",
        "model",
        ["props", "propsData"],
        "data",
        "computed",
        "watch",
        "LIFECYCLE_HOOKS",
        "methods",
        ["template", "render"],
        "renderError"
      ]
    }],
    "vue/no-v-text-v-html-on-component": "off",
    "vue/require-component-is": "off",
    "vue/max-attributes-per-line": ["error", {
      "singleline": 3,
      "multiline": 1
    }],
    "vue/first-attribute-linebreak": ["error", {
      "singleline": "beside"
    }],
    "vue/component-name-in-template-casing": ["error", "kebab-case", {
      "registeredComponentsOnly": true
    }],
    "vue/attributes-order": ["error", {
      "order": [
        "GLOBAL",
        "CONDITIONALS",
        "LIST_RENDERING",
        "DEFINITION",
        "TWO_WAY_BINDING",
        "CONTENT",
        "OTHER_DIRECTIVES",
        "RENDER_MODIFIERS",
        "UNIQUE",
        "SLOT",
        "ATTR_DYNAMIC",
        "ATTR_STATIC",
        "ATTR_SHORTHAND_BOOL",
        "EVENTS"
      ],
      "alphabetical": false
    }],
    "vuejs-accessibility/label-has-for": "off",
    "vuejs-accessibility/click-events-have-key-events": "off",
    "vuejs-accessibility/form-control-has-label": "off",
    "vuejs-accessibility/no-autofocus": "off",
    "vuejs-accessibility/media-has-caption": "off",
    "vuejs-accessibility/no-redundant-roles": "off",
    "vuejs-accessibility/mouse-events-have-key-events": "off",
    "import/no-cycle": "error",
    "import/prefer-default-export": "off",
    "import/order": ["error", {
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
      "pathGroups": [
        {
          "pattern": "@/+(config|constants)",
          "group": "internal",
          "position": "before"
        },
        {
          "pattern": "@/plugins/**",
          "group": "internal",
          "position": "before"
        },
        {
          "pattern": "@/services/**",
          "group": "internal",
          "position": "before"
        },
        {
          "pattern": "@/+(store|i18n|filters|router)",
          "group": "internal",
          "position": "before"
        },
        {
          "pattern": "@/store/**",
          "group": "internal",
          "position": "before"
        },
        {
          "pattern": "@/helpers/**",
          "group": "internal",
          "position": "before"
        },
        {
          "pattern": "@/mixins/**",
          "group": "internal",
          "position": "before"
        },
        {
          "pattern": "@/components/**",
          "group": "internal",
          "position": "before"
        }
      ],
      "newlines-between": "always"
    }],
    "no-unused-expressions": "off",
    "no-restricted-syntax": ["off"],
    "no-restricted-imports": ["error", {
      "patterns": [
        {
          "group": ["**/form/partials/**", "**/form/partial/**"],
          "message": "All fields should be moved inside `/form/fields/`."
        },
        {
          "group": ["**/field/**"],
          "message": "`field` folder deprecated. Please, rename to `fields`."
        },
        {
          "group": ["**/partial/**"],
          "message": "`partial` folder deprecated. Please, rename to `partials`."
        }
      ]
    }],
    "import-newlines/enforce": [
      "error",
      {
        "items": 4,
        "max-len": 120,
        "semi": true
      }
    ]
  }
}
