{
  "root": true,
  "extends": [
    "plugin:vue/strongly-recommended",
    "@vue/airbnb"
  ],

  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },

  "plugins": [
    "vue"
  ],
  "globals": {
    "sel": true
  },
  "rules": {
    "object-curly-newline": "off",
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "default-case": "off",
    "max-len": ["error", { "code": 120, "ignoreStrings": true, "ignoreTemplateLiterals": true, "ignoreRegExpLiterals": true }],
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state", "config", "acc", "Vue", "browser", "wrapper"] }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-return-assign": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id", "_embedded", "_t", "_filter", "type_", "_original"] }],
    "no-bitwise": ["error", { "allow": ["&"] }],
    "vue/multi-word-component-names": "off",
    "vue/no-use-computed-property-like-method": "off",
    "vue/component-definition-name-casing": "off",
    "vue/require-default-prop": "off",
    "vue/require-prop-types": "error",
    "vue/order-in-components": ["error", {
      "order": [
        "el",
        "name",
        "parent",
        "functional",
        "$_veeValidate",
        ["provide", "inject"],
        ["delimiters", "comments"],
        ["components", "directives", "filters"],
        "extends",
        "mixins",
        "inheritAttrs",
        "model",
        ["props", "propsData"],
        "data",
        "computed",
        "watch",
        "LIFECYCLE_HOOKS",
        "methods",
        ["template", "render"],
        "renderError"
      ]
    }],
    "import/no-cycle": "off", // TODO: We have a lot of cycle deps. Should be fixed.
    "import/prefer-default-export": "off",
    "no-unused-expressions": "off"
  }
}
