{{!*
 * @editor labelandviewid
}}
<span class="label" style="color:black">{{tr 'Label'}}</span>{{input type="text" class="form-control" value=attr.value.label}}
<span class="label" style="color:black">{{tr 'Value'}}</span>{{component-restobjectcombo attr=attr selectedValue=attr.value.value schemaType="userviewsimplemodel" valueField="id" labelField="crecord_name" valuePath="attr.value.value"}}
