{{!*
 * @editor stringpair
}}
<span class="label" style="color:black">{{tr 'Label'}}</span>{{input type="text" class="form-control" value=attr.value.label}}
<span class="label" style="color:black">{{tr 'Value'}}</span>{{input type="text" class="form-control" value=attr.value.value}}
