/* Event */

.widget-stream .event {
	margin: 2px;
	margin-bottom: 3px;
	padding: 3px;
	/*width: 100px;*/
}

.widget-stream .event .event {
	margin-bottom: 0px;
}

.widget-stream .event .separator {
	height: 1;
    width: 100%;
    background-color: #EDEDED;
}

.widget-stream .event .separator-top{
	width: 100%;
	height: 5px;
	background-image:url( images/top.gif);
	background-repeat:no-repeat;
	background-position: 20px;
}

.widget-stream .event .picture{
	vertical-align: top;
	height: 100%;
    width: 32px;
    padding: 3px;
}
.widget-stream .event .picture img {
	width: 32px;
}

.widget-stream .event .picture_compact {
	vertical-align: top;
	height: 100%;
    width: 28px;
    padding: 3px;
}
.widget-stream .event .picture_compact img {
	width: 28px;
}


.widget-stream .event .state{
    width: 3px;
    margin-left: 3px;
} 

.widget-stream .event .table {
	height: auto;
	width: 100%;
}

.widget-stream .event .content {
	vertical-align: top;
	font-size: 15;
	padding: 3px;
}

.widget-stream .event .content_compact {
	vertical-align: top;
	font-size: 15;
	margin-left: 3px;
}

.widget-stream .event .afooter {
	height: 10px;
	width: 100%;
	margin-top: 10px;
	font-size: 12;
	/*float: right;*/
	/*background-color: #EAECFF;*/
}

.widget-stream .event .afooter_compact {
	height: 10px;
	width: 100%;
	font-size: 12;
}

.widget-stream .event .cfooter {
	height: 20px;
	width: 100%;
	margin-top: 10px;
	font-size: 12;
	float: bottom;
}

.widget-stream .event .content h1,.widget-stream .event .content_compact h1 {
	font-size: 14;
}

.widget-stream .event .content,.widget-stream .event .content_compact {
	font-size: 13;
}

.widget-stream .event .content .title{
	display: inline;
}

.widget-stream .event .content_compact .title{
	display: inline;
	margin-left: 5px;
}

.widget-stream .event .content .timestamp{
	margin-left: 10px;
	font-size: 10;
	color: grey;
}

.widget-stream .event .content_compact .timestamp{
	font-size: 10;
	color: grey;
}

.widget-stream .event .content_compact .output{
	display: inline;
	margin-left: 5px;
}

.widget-stream .event .comment {
	background-color: #EDEDED;
}

.widget-stream .icon-comment {
	float: left;
    cursor: hand;
}

.widget-stream .comment-counter{
	float: left;
	padding-left: 3px;
	font-size: 10;
	color: grey;
	cursor: hand;
}

.widget-stream .icon-plus {
	float: right;
    background-image: url(icons/bullet_toggle_plus.png) !important;
    cursor: hand;
}

.widget-stream .icon-minus {
	float: right;
    background-image: url(icons/bullet_toggle_minus.png) !important;
    cursor: hand;
}
