/* http://cssglobe.com/post/9435/pure-css3-post-tags */

.tags{
	margin:0;
	padding:0;
	list-style:none;
}

.tags li, .tags a{
	float:left;
	height:14px;
	line-height:14px;
	position:relative;
	font-size:10px;
	margin-top:1px;
	margin-bottom:1px;
}
	
.tags a{
	margin-left:12px;
	padding:0 10px 0 12px;
	background:#d4d4d4;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
}
	
.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-7px;
	width:0;
	height:0;
	border-color:transparent #d4d4d4 transparent transparent;
	border-style:solid;
	border-width:7px 7px 7px 0;		
}
	
.tags a:after{
	content:"";
	position:absolute;
	top:5px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #a8a8a8;
	-webkit-box-shadow:-1px -1px 2px #a8a8a8;
	box-shadow:-1px -1px 2px #a8a8a8;
}

.tags a:hover{background:#9e9e9e;}	
.tags a:hover:before{border-color:transparent #9e9e9e transparent transparent;}
