// Font sizes
$font-size-root = var(--v-font-size-root, 14px)
$alert-font-size = $font-size-root

@import '~vuetify/src/stylus/theme.styl'

// Backgrounds
$material-light.background = var(--v-application-background-base, $material-light.background)
$material-light.cards = var(--v-background-base, $material-dark.cards)

$material-dark.background = var(--v-application-background-base, $material-dark.background)
$material-dark.cards = var(--v-background-base, $material-dark.cards)

@import '~vuetify/src/stylus/main'
