$default-font-size = 14px

rem(px) {
  return unit(px / $default-font-size, 'rem');
}

// Font sizes
$font-size-root = var(--v-font-size-root, $default-font-size)
$alert-font-size = $font-size-root

$list-tile-font-size = rem(16px)
$list-action-text-font-size = rem(12px)
$list-sub-title-font-size = rem(14px)
$list-item-dense-font-size = rem(13px)

$button-font-size = rem(14px)
$button-small-font-size = rem(13px)
$button-large-font-size = rem(15px)

$badge-font-size = rem(14px)

$breadcrumbs-item-font-size = rem(14px)
$breadcrumbs-item-large-font-size = rem(16px)
$chip-font-size = rem(13px)
$chip-small-font-size = rem(20px)

$subheader-height-font-size = rem(14px)
$subheader-dense-font-size = $list-item-dense-font-size

$time-picker-number-font-size = rem(16px)

$navigation-drawer-item-font-size = rem(14px)

$calendar-daily-weekday-font-size = rem(14px)
$calendar-daily-day-font-size = rem(40px)
$calendar-daily-interval-gutter-font-size = rem(10px)
$calendar-weekly-weekday-font-size = rem(14px)

$alert-icon-font-size = rem(24px)
$chip-icon-font-size = rem(20px)
$list-item-dense-icon-font-size = rem(22px)

@import '~vuetify/src/stylus/theme.styl'

// Backgrounds
// Light
$material-light.bg-color = var(--v-application-background-base, $material-light.background)
$material-light.background = var(--v-application-background-base, $material-light.background)
$material-light.cards = var(--v-background-base, $material-dark.cards)

$material-light.text.primary = var(--v-text-light-primary, $material-light.text.primary)
$material-light.text.secondary = var(--v-text-light-secondary, $material-light.text.secondary)
$material-light.text.disabled = var(--v-text-light-disabled, $material-light.text.disabled)

$material-light.icons.active = $material-light.text.secondary

$material-light.buttons.disabled = var(--v-button-light-disabled, $material-light.buttons.disabled)
$material-light.buttons.focused = var(--v-button-light-focused, $material-light.buttons.focused)

$material-light.chips.color = var(--v-text-light-primary, $material-light.chips.color)

$material-light.tabs.active = var(--v-text-light-primary, $material-light.chips.color)

$material-light.stepper.active = var(--v-stepper-active, $material-light.stepper.active)
$material-light.stepper.completed = var(--v-stepper-completed, $material-light.stepper.completed)
$material-light.stepper.hover = var(--v-stepper-hover, $material-light.stepper.hover)

// Dark
$material-dark.background = var(--v-application-background-base, $material-dark.background)
$material-dark.cards = var(--v-background-base, $material-dark.cards)

$material-dark.text.primary = var(--v-text-dark-primary, $material-dark.text.primary)
$material-dark.text.secondary = var(--v-text-dark-secondary, $material-dark.text.secondary)
$material-dark.text.disabled = var(--v-text-dark-disabled, $material-dark.text.disabled)

$material-dark.icons.active = $material-dark.text.secondary

$material-dark.buttons.disabled = var(--v-button-dark-disabled, $material-dark.buttons.disabled)
$material-dark.buttons.focused = var(--v-button-dark-focused, $material-dark.buttons.focused)

$material-dark.chips.color = var(--v-text-dark-disabled, $material-dark.chips.color)

$material-dark.tabs.active = var(--v-text-dark-primary, $material-dark.chips.color)

$material-dark.stepper.active = var(--v-stepper-active, $material-dark.stepper.active)
$material-dark.stepper.completed = var(--v-stepper-completed, $material-dark.stepper.completed)
$material-dark.stepper.hover = var(--v-stepper-hover, $material-dark.stepper.hover)

@import '~vuetify/src/stylus/settings/_variables.styl'

// Font sizes
$headings.h1.size = rem(112px)
$headings.h2.size = rem(56px)
$headings.h3.size = rem(45px)
$headings.h4.size = rem(34px)
$headings.h5.size = rem(24px)
$headings.h6.size = rem(20px)
$headings.subheading.size = rem(16px)
$headings.body-2.size = rem(14px)
$headings.body-1.size = rem(14px)
$headings.caption.size = rem(12px)

@import '~vuetify/src/stylus/main'
@import '~vuetify/src/stylus/components/_lists.styl'
@import '~vuetify/src/stylus/components/_navigation-drawer.styl'

@import './components/data-table.styl'
@import './components/steppers.styl'

table.v-table
  thead
    th
      font-size: rem(12px)

  tbody
    td
      font-size: rem(13px)

.v-tooltip
  &__content
    color: var(--v-text-dark-primary, #fff)
    font-size: rem(12px)

.v-input
  font-size: rem(16px)
