.iconSet1_0-10 {
	background-image: None !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='widgets/weather/icons/set1/10.png', sizingMethod='scale');
}

.iconSet1_10-20 {
	background-image: None !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='widgets/weather/icons/set1/09.png', sizingMethod='scale');
}

.iconSet1_20-30 {
	background-image: None !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='widgets/weather/icons/set1/08.png', sizingMethod='scale');
}

.iconSet1_30-40 {
	background-image: None !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='widgets/weather/icons/set1/07.png', sizingMethod='scale');
}

.iconSet1_40-50 {
	background-image: None !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='widgets/weather/icons/set1/06.png', sizingMethod='scale');
}

.iconSet1_50-60 {
	background-image: None !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='widgets/weather/icons/set1/05.png', sizingMethod='scale');
}

.iconSet1_60-70 {
	background-image: None !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='widgets/weather/icons/set1/04.png', sizingMethod='scale');
}

.iconSet1_70-80 {
	background-image: None !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='widgets/weather/icons/set1/03.png', sizingMethod='scale');
}

.iconSet1_80-90 {
	background-image: None !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='widgets/weather/icons/set1/02.png', sizingMethod='scale');
}

.iconSet1_90-100 {
	background-image: None !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='widgets/weather/icons/set1/01.png', sizingMethod='scale');

}