.widget-weather table{
	height: 100%;
	width: 100%;
	font-family: "Sans-serif";
	border-style: none;
}

.widget-weather table tr{
	height: 100%;
}

.widget-weather .weather_table_div {
	height:100%;
	float:left;
}

.widget-weather .weather_table_div div {
	display:table;
	height:100%;
	width:100%;
}

.widget-weather .weather_table_div div span {
	display:table-cell;
	vertical-align:middle;
	text-align: center;
	word-wrap: break-word;
	font-weight: bold;
}

.widget-weather .weather_logo {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}

.widget-weather .weather_clickable {
	cursor:pointer;
}

.widget-weather .weather_clickable:hover{
	text-decoration:underline;
}

/*left panel*/
.widget-weather .weather_left_panel{
	width:75%;
	/*vertical-align:top;*/
}

.widget-weather .weather_first_sub_section{
	/*width:100%;*/
	height:70%;
}

.widget-weather .weather_second_sub_section{
	/*width:100%;*/
	height:30%;
	vertical-align:middle;
}

.widget-weather .weather_left_panel .weather_first_sub_section .weather_title{
	width: 100%;
	font-size: 14px;
	/*word-wrap: break-word;*/
	font-weight: bold;
}

.widget-weather .weather_left_panel .weather_first_sub_section .weather_title span{
	font-size:xx-small;
	font-weight: normal;
	vertical-align: middle;
	margin-left : 8px;
	word-wrap: break-word;
 }

.widget-weather .weather_left_panel .weather_first_sub_section .weather_comment{
	display: inline-block;
	font-size: 12px;
	width: 80%;
}

.widget-weather .weather_left_panel .weather_first_sub_section .icon-edit{
	display: inline-block;
	float:right;
	opacity: 0;
	background-size:contain;
	cursor:pointer;
}


.widget-weather .weather_left_panel .weather_alert_button{
	float:left;
	height:100%;
	font-size:10px;
	max-height:22px;
}

.widget-weather .weather_left_panel .weather_alert_information{
	position: relative;
	float:left;
	margin-left:2%;
	top: 25%;
}

/*right panel*/
.widget-weather .weather_right_panel{
	/*float:left;*/
	width:25%;
}

.widget-weather .weather_right_panel .weather_logo{
	display:table;
	width: 100%;
	height: 80%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}

.widget-weather .logo_full_height{
	width: 100%;
	height: 100%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}

.widget-weather .weather_right_panel .weather_logo p{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:100%;
	font-size:13px;
	font-weight: bold;
}

.widget-weather .weather_right_panel .weather_legend{
	width: 100%;
	height: 20%;
	text-align:center;
	font-size:10px;
}

/*--------------------- icons --------------------*/

.weather_icon-info{
	background-image: url(./icons/info-icon.png) !important;
}

.weather_form-icon{
	vertical-align:middle;
	height:22px;
	/*width: 29px;*/
	margin-right: 5px;
}

/*alert icon*/

.weather_alert-icon{
	display:inline-block;
	float:left;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
	/*position:relative;*/
	/*left: 35%;*/
	width: 17%;
	height: 100%;
	max-height: 40px;
}

.weather_alert-icon-0{
	background-image: url(./icons/public_domain_icon/workman.png) !important;
}

.weather_alert-icon-1{
	background-image: url(./icons/public_domain_icon/slippery.png) !important;
}

.weather_alert-icon-2{
	background-image: url(./icons/public_domain_icon/alert.png) !important;
}

/*-----------------------------iconset N°1---------------------------*/
.iconSet1_0-10 {
	background-image: url(./icons/set1/09.png) !important;
}

.iconSet1_10-20 {
	background-image: url(./icons/set1/09.png) !important;
}

.iconSet1_20-30 {
	background-image: url(./icons/set1/08.png) !important;
}

.iconSet1_30-40 {
	background-image: url(./icons/set1/07.png) !important;
}

.iconSet1_40-50 {
	background-image: url(./icons/set1/06.png) !important;
}

.iconSet1_50-60 {
	background-image: url(./icons/set1/05.png) !important;
}

.iconSet1_60-70 {
	background-image: url(./icons/set1/04.png) !important;
}

.iconSet1_70-80 {
	background-image: url(./icons/set1/03.png) !important;
}

.iconSet1_80-90 {
	background-image: url(./icons/set1/02.png) !important;
}

.iconSet1_90-100 {
	background-image: url(./icons/set1/01.png) !important;
}

/*-----------------------------iconset N°2---------------------------*/
.iconSet2_0-10 {
	background-image: url(./icons/set2/2.png) !important;
}

.iconSet2_10-20 {
	background-image: url(./icons/set2/2.png) !important;
}

.iconSet2_20-30 {
	background-image: url(./icons/set2/2.png) !important;
}

.iconSet2_30-40 {
	background-image: url(./icons/set2/1.png) !important;
}

.iconSet2_40-50 {
	background-image: url(./icons/set2/1.png) !important;
}

.iconSet2_50-60 {
	background-image: url(./icons/set2/1.png) !important;
}

.iconSet2_60-70 {
	background-image: url(./icons/set2/1.png) !important;
}

.iconSet2_70-80 {
	background-image: url(./icons/set2/1.png) !important;
}

.iconSet2_80-90 {
	background-image: url(./icons/set2/0.png) !important;
}

.iconSet2_90-100 {
	background-image: url(./icons/set2/0.png) !important;
}
