.weather-table { 
	font-size: 12px;
	border:0px;
	width:100%;
	margin: 3px;
}

.weather-clickable{
	opacity:0;
	cursor:pointer;
}

.weather-table button{ 
	width: 85px;
	font-size: 9px;
}

.weather-table img{
	width: 100%;
	height: auto;
}

.weather-title {
	font-weight:bold;
	font-size:14px;
}

.weather-ts {
	font-size:10px;
	margin-left: 10px;
}

.weather-image{
	width:100%;
}

.weather-percent{
	position: absolute;
	width:100%;
	top:35%;
	left:0;
	vertical-align: middle;
	text-align: center;
	font-weight:bold;
	font-size:14px;
}

.weather-alert-message{
	margin-left: 10px;
	width:100px;
}

/*for combobox icons*/
.widget-weather-alert-icon-0{
	background-image: url(./icons/alert/workman.png) !important;
}

.widget-weather-alert-icon-1{
	background-image: url(./icons/alert/slippery.png) !important;
}

.widget-weather-alert-icon-2{
	background-image: url(./icons/alert/alert.png) !important;
}