[DATABASE]
host={{ canopsis_mongo_host }}
port={{ canopsis_mongo_port }}
db={{ canopsis_mongo_db }}
user={{ canopsis_mongo_user }}
pwd={{ canopsis_mongo_password }}
{% if mongodb_replication_replset %}
replicaset={{ mongodb_replication_replset }}
{% endif %}
