[master]
host = {{ canopsis_amqp_host }}
port = {{ canopsis_amqp_port }}
userid = {{ canopsis_amqp_userid }}
password = {{ canopsis_amqp_password }}
virtual_host = {{ canopsis_amqp_vhost }}
exchange_name = {{ canopsis_amqp_exchange }}
