[Unit]
Description=Canopsis Webserver
After=network.target
Documentation=https://doc.canopsis.net

[Service]
User={{ canopsis_user }}
Group={{ canopsis_group }}
WorkingDirectory={{ canopsis_home }}
Environment=VIRTUAL_ENV={{ canopsis_home }}
Environment=HOME={{ canopsis_home }}
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
Environment="OPTIONS=-k gevent -b {{ canopsis_webserver_ip }}:8080"
ExecStart={{ canopsis_home }}/bin/webserver $OPTIONS
PIDFile=/var/run/webserver.pid

[Install]
WantedBy=multi-user.target
