.node {
    cursor: move;
}
.node .entity {
    text-anchor: middle;
    baseline-shift: 0.5ex;
}
.node .operator {
    text-anchor: middle;
    baseline-shift: -1ex;
}
.ndok {
    background-color: #00a65a !important;
    color: #00a65a !important;
    fill: #00a65a !important;
}
.ndminor {
    background-color: #FFE000 !important;
    color: #FFE000 !important;
    fill: #FFE000 !important;
}
.ndmajor {
    background-color: #FF9900 !important;
    color: #FF9900 !important;
    fill: #FF9900 !important;
}
.ndcritical {
    background-color: #CF0000 !important;
    color: #CF0000 !important;
    fill: #CF0000 !important;
}
.edgenode {
}
.edgenode .weight {
    text-anchor: middle;
    baseline-shift: -0.5ex;
}
.toolbox {
    fill: white;
    cursor: pointer;
    stroke: black;
    font-color: black;
}
.toolbox text {
    text-anchor: middle;
    baseline-shift: -0.5ex;
}
.overlay {
    fill: none;
    pointer-events: all;
    cursor: context-menu;
}
.locked {
    stroke: blue;
    stroke-width: 2;
}
.selected {
    stroke: green;
    stroke-width: 2;
}
.over {
    stroke: blue;
    stroke-width: 2;
}
.tmpLink {
    opacity: 0.5;
    pointer-events: all;
    marker-end: url(#markerArrow);
}
#tmpLink {
    cursor: copy;
    stroke: green;
}
#wrongTmpLink {
    cursor: no-drop;
    stroke: red;
}
.link {
}
.lnok {
    stroke: #00a65a !important;
}
.lnminor {
    stroke: #FFE000 !important;
}
.lnmajor {
    stroke: #FF9900 !important;
}
.lncritical {
    stroke: #CF0000 !important;
}
.targetLink {
    cursor: context-menu;
}
