variables:
  DOCKER_PATH: deployment/canopsis/docker
  DOCKER_ARCHIVE_NAME: canopsis-${CANOPSIS_EDITION}-docker-compose
  DOCKER_ARCHIVE_FILE: ${DOCKER_ARCHIVE_NAME}-${CI_COMMIT_TAG}.tar.gz
  DOCKER_ARCHIVE_BUILD: ${DOCKER_PATH}/build
  DOCKER_ARCHIVE_PATH: ${DOCKER_ARCHIVE_BUILD}/${DOCKER_ARCHIVE_FILE}
  DOCKER_ARCHIVE_PACKAGE: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${DOCKER_ARCHIVE_NAME}/${CI_COMMIT_TAG}/${DOCKER_ARCHIVE_FILE}

.common:
  tags:
    - canopsis

build_docker_archive:
  extends: .common
  stage: build
  script:
    - make -C ${DOCKER_PATH} tarball
  artifacts:
    paths:
      - ${CANOPSIS_EDITION}/${DOCKER_ARCHIVE_BUILD}/

publish_docker_archive:
  extends: .common
  stage: publish
  script:
    - |
      curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file "${DOCKER_ARCHIVE_PATH}" \
           "${DOCKER_ARCHIVE_PACKAGE}"
  rules:
    - if: $CI_COMMIT_TAG
