stages:
  - test

before_script:
  - cd community/
  - uname -a
  - docker -v
  - git --no-pager show

variables:
  COMPOSE_HTTP_TIMEOUT: "180"
  COMPOSE_PROJECT_NAME: "test${CI_JOB_ID}"
  CANOPSIS_DISTRIBUTION: "debian-9"
  CANOPSIS_TAG: "ci"
  CANOPSIS_DOCKER_MODE: "test-ci"
  CANOPSIS_ENV_CONFIRM: "0"

stage_test:
  stage: test
  tags: ["canopsis"]
  script:
    - set
    - ./build-docker.sh


  artifacts:
    paths:
      #- tests_report

after_script:
  - cd community/
  - docker-compose --project-directory CI/ -f CI/docker-compose.ci.yml -p ${COMPOSE_PROJECT_NAME} kill
  - sleep 10
  - docker-compose --project-directory CI/ -f CI/docker-compose.ci.yml -p ${COMPOSE_PROJECT_NAME} rm -sf
  - docker-compose --project-directory CI/ -f CI/docker-compose.ci.yml -p ${COMPOSE_PROJECT_NAME} down
  - docker volume prune -f
