stages:
  - source
  - build
  - publish
  - release

before_script:
  - cd community/

variables:
  COMPOSE_HTTP_TIMEOUT: "180"
  COMPOSE_PROJECT_NAME: "test${CI_JOB_ID}"
  CANOPSIS_TAG: "ci"
  CANOPSIS_DOCKER_MODE: "test-ci"
  CANOPSIS_ENV_CONFIRM: "0"
  CANOPSIS_EDITION: "community"

include:
  - community/.gitlab-ci-common.yml
  - community/.gitlab-ci-template.yml
  - community/.gitlab-ci-builder.yml

create_release:
  extends: .create_release
