# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

# Note: use the following command to get the right mkdocs version
# python3 -m pip install -r ./sources/docs/requirements.txt
#
# See sources/docs/README.md for more information.

site_name: Documentation Canopsis
site_url: https://doc.canopsis.net

repo_url: https://git.canopsis.net/canopsis/canopsis-community
repo_name: 'git.canopsis.net'

docs_dir:
   sources/docs/fr
copyright: Documentation © Capensis 2018–2022 / CC BY-SA 3.0 FR (https://creativecommons.org/licenses/by-sa/3.0/fr/)

theme:
  name: material
  language: fr
  # Still using the old syntax here, because our icon isn't in SVG
  logo: 'img/canopsis-mkdocs.png'
  icon:
    repo: fontawesome/brands/gitlab
  palette:
    - scheme: default
      primary: green
      accent: green
      toggle:
        icon: material/weather-night
        name: Activer le thème sombre
    - scheme: slate
      primary: teal
      accent: teal
      toggle:
        icon: material/weather-sunny
        name: Désactiver le thème sombre
  features:
    #- navigation.expand
    #- navigation.sections
    - navigation.tabs
    - search.highlight
    - toc.follow
    - toc.integrate
    # still a bit buggy (e.g. Mermaid loading)
    #- navigation.instant
    - navigation.top

markdown_extensions:
    - admonition
    - attr_list
    - codehilite:
        guess_lang: false
    - def_list
    - pymdownx.details
    - pymdownx.superfences:
        custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:pymdownx.superfences.fence_div_format
    - pymdownx.tabbed:
        # (mandatory with mkdocs-material)
        alternate_style: true
    - toc:
        permalink: true
    - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
    - git-revision-date-localized:
        locale: fr
        type: iso_date
    - search:
        lang:
          - en
    - render_swagger
    - awesome-pages

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/canopsis
    - icon: fontawesome/brands/linkedin
      link: https://fr.linkedin.com/company/capensis
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCkjGq4pG3jrlTRnMmA8BGbQ
  version:
    provider: mike

extra_css:
  - mkdocs.css

extra_javascript:
  # sync this with the version used in <https://squidfunk.github.io/mkdocs-material/reference/diagrams> HTML source
  - https://unpkg.com/mermaid@8.13.3/dist/mermaid.min.js
