{{#if links.length}}
    {{#component-tooltip content="External links"}}
        <div class="btn-group">
            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-info"></i>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" style="right:0; left:auto">
                {{#each linkInformation in links}}
                    <li>
                        <a target="_blank" {{bind-attr href=linkInformation.url}}>{{tr linkInformation.label}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/component-tooltip}}
{{/if}}
