.cwizardButton{
	min-height:22px;
	width: 120px;
	margin-top: 7px;
	padding: 2px  2px 2px 25px;

	float: right;
	position: relative;

	box-shadow: 1px 1px 4px #555;

	color: #DDDDDD;

	-moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;

    background-color:#fff;
    border-width:1px 1px 1px 1px;
    border-style:solid;
    border-bottom-color:#aaa;
    border-right-color:white;
    border-top-color:#ddd;
    border-left-color:#ddd;

    z-index: 10;

    transition: color 0.6s, width 0.2s, transform 0.2s;
    -webkit-transition: color 0.6s,width 0.2s, -webkit-transform 0.2s;

    cursor: pointer;
}

.cwizardBorderColor{
 	z-index: 12;
	position: absolute;
	width: 1px;
	height:100%;

	top: 0px;
	right: 0px;
	float:right;

	border-width: 1px;
	border-color: #DDDDDD;
	border-style: solid;
	
	box-shadow: 0px 0px 3px #555;
}

.cwizardSelectedButton .cwizardButton{
	color: black;
	z-index: 13;
	/*height:25px;*/
	width: 130px;
}

.cwizardDisabledButton .cwizardButton{
	background-color: grey;
}

