/*fix for mask that overlap everything*/
.x-mask-msg{
	z-index: 100;
}

.cwlist .thumb{
	background: #dddddd;
	padding: 2px;
}

.cwlist .thumb-wrap{
	float: left;
	margin: 5px;
	margin-right: 0;
	padding: 5px;
	height: 110px;
}

.cwlist .thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
	width: 60px;
}

.cwlist .x-item-over{
	border:1px solid #dddddd;
}

.cwlist .x-item-selected{
	border:1px solid #99bbe8;
}

.cwlist .x-item-selected .thumb{
	background:transparent;
}

.ccustomButton{
	min-height:22px;
	padding: 6px;
	width: 85%;
	/*height: 50px;*/

	/*
	margin-top: 7px;
	margin-right:7px;
	margin-left:7px;
	*/
	margin: 5px;

	float: left;
	position: relative;

	box-shadow: 1px 1px 4px #555;

	color: #707070;

	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    background-color:#fff;
    border-width:1px 1px 1px 1px;
    border-style:solid;
    border-bottom-color:#aaa;
    border-right-color:white;
    border-top-color:#ddd;
    border-left-color:#ddd;

    z-index: 10;

    transition: color 0.6s, width 0.2s, transform 0.2s;
    -webkit-transition: color 0.6s,width 0.2s, -webkit-transform 0.2s;

    cursor: pointer; 

    /*
    overflow:hidden;
	text-overflow:ellipsis;
	*/
	background-color: #F8F8F8;
}

.cwizardSelectedButton .ccustomButton{
	color: black;
	background-color: white;
	/*width: 130px;*/
}
