<div class="form-group">
    <label>{{tr 'Label'}}</label>
    {{input type="text" value=content.label class="form-control" placeholder=label_placeholder}}
    <label>{{tr 'Url'}}</label>
    {{input type="text" value=content.url class="form-control" placeholder=url_placeholder}}
</div>
