simplejson==2.1.6
pymongo==2.7.2
pycurl==7.19.5
tornado==1.2.1
python-daemon==1.5.5
gevent==1.0.2
bottle==0.10.9
Beaker==1.5.4
mongodb_beaker==0.5.0
xmlrpclib==1.0.1
pyparsing==1.5.6
gunicorn==19.2.1
APScheduler==2.0.3
msgpack-python==0.1.13
supervisor==3.0a12
isit==0.2.6
icalendar==3.5
pytz==2014.2
kombu==2.5.10
polib==1.0.4
python-ldap==2.4.13
validictory==0.9.3
psutil==1.0.1
pybars==0.0.4
PyMeta==0.5.0
greenlet==0.4.7
mock==1.0.1
lxml==3.4.1
requests==1.1.0
