// Font sizes
$font-size-root = var(--v-font-size-root, 14px)

@import '~vuetify/src/stylus/theme.styl'

// Backgrounds
$material-light.background = var(--v-background-base, $material-light.background)
$material-dark.background = var(--v-background-base, $material-dark.background)

@import '~vuetify/src/stylus/main'
