@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src:
        local('Open Sans'),
        local('OpenSans'),
        url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
        url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'Open Sans Light';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src:
        local('Open Sans Light'),
        local('OpenSans Light'),
        url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
        url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
}

html
{
    overflow: auto;
    background-color: #fff;
    font-size: 14px;
}

body
{
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    line-height: 1.5;
    color: #4d4e53;
    margin:0;
    background-color: white;
    overflow: auto;
}

a, a:visited, a:active {
    color: #0095dd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header
{
    display: block;
    padding: 0px 4px;
}

tt, code, kbd, samp {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.class-description {
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.class-description:empty {
    margin: 0;
}

section
{
    background-color: #fff;
    padding-left: 320px;
}

.variation {
    display: none;
}

.signature-attributes {
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

nav
{
    display: block;
    float: left;
    background: #343131;
    width: 300px;
    box-sizing: border-box;
}

nav ul {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 100%;
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul a, nav ul a:visited, nav ul a:active {
    padding-left: 40px;
    line-height: 18px;
    color: #b3b3b3;
}

nav h3 {
    padding-left: 20px;
    display: block;
    font-size: 120%;
    background: #4e4a4a;
    color: #b3b3b3;
}

nav h2 {
    background-color: #2980B9;
    width: 300px;
    height: 80px;
    padding-top: 20px;
}
nav h2 a {
    color: #fcfcfc !important;
    padding-left: 40px;
    font-size:16px;
}

nav li a{
    display: block;
    height:24px;
}

nav li a:hover {
    background: #4e4a4a;
}

footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 90%;
}

h1, h2, h3, h4 {
    font-weight: 200;
    margin: 0;
}


h3:empty {
  display: none;
}

section h1 {
  text-transform: capitalize;
  margin-left: 0;
}

h1
{
    font-size: 28px;
    font-weight: bold;
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    padding-left: 320px;
}

article h1
{
    padding-left: 0;
}

h2, h3
{
    font-size: 14px;
    font-weight: 700;
}

.subsection-title
{
    border-left: solid 3px #2980B9;
    padding:6px;
    background: #e7f2fa;
}

.detailed-listing-item
{
    border-bottom: solid 1px #ccc;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.subsection-title.index
{
    border-bottom: solid 3px #2980B9;
    border-left: 0;
}
.listing
{
    background: #e7f2fa;
    width:100%;
}

.index .methods, .index .properties {
    width: 300px;
    vertical-align: top;
}

.index td {
    padding: 0;
}

.detailed-listing {
    padding-left: 20px;
}

.detailed-listing .description {
    font-size: 90%;
    color: #343131;
    padding-left: 20px;
}


.foldable-details {
    border-left: solid 3px #ccc;
    background: #f0f0f0;
    font-size: 90%;
}

h4
{
    font-size: 14px;
    letter-spacing: -0.33px;
    color: #2980B9;
    font-weight: bold;
}

h5, .container-overview .subsection-title
{
    font-size: 120%;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin: 8px 0 3px 0;
}

h6
{
    font-size: 100%;
    letter-spacing: -0.01em;
    margin: 6px 0 3px 0;
    font-style: italic;
}

.ancestors { color: #999; }
.ancestors a
{
    color: #999 !important;
    text-decoration: none;
}

.clear
{
    clear: both;
}

.important
{
    font-weight: bold;
    color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #27AE60;
}

.name, .signature {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.details { margin-top: 14px; }
.details dt { width: 120px; float: left; padding-left: 10px;  padding-top: 6px; }
.details dd { margin-left: 70px; }
.details ul { margin: 0; }
.details ul { list-style-type: none; }
.details li { margin-left: 30px; padding-top: 6px; }
.details pre.prettyprint { margin: 0 }
.details .object-value { padding-top: 0; }

.code-caption
{
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

.prettyprint
{
    border: 1px solid #ddd;
    width: 80%;
    overflow: auto;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code
{
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #4D4E53;
}

.prettyprint code span.line
{
  display: inline-block;
}

.prettyprint.linenums
{
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol
{
  padding-left: 0;
}

.prettyprint.linenums li
{
  border-left: 3px #ddd solid;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected *
{
  background-color: lightyellow;
}

.prettyprint.linenums li *
{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.params, .props
{
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

ul.params {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
ul.params li {
}

.param-type {
    color: #27AE60;
    font-weight: bold;
}

.params .type{
    width: 100px;
    display: inline-block;
    text-align: right;
    color: #27AE60;
    font-weight: bold;
}

.params .name, .props .name, .name code {
    color: #4D4E53;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 100%;
}

.returns-details {
    margin-left: 40px;
}

.disabled {
    color: #454545;
}

.view-source {
    float:right;
}
