[Unit]
Description=Canopsis APIv2 (Gunicorn)
After=network.target
Documentation=https://doc.canopsis.net

[Service]
User=canopsis
Group=canopsis
WorkingDirectory=/opt/canopsis
Environment=VIRTUAL_ENV=/opt/canopsis
Environment=HOME=/opt/canopsis
Environment=PATH=$VIRTUAL_ENV/bin:/bin/:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin
Environment="OPTIONS=-k gevent -w 1 --limit-request-line 6800 -b 0.0.0.0:8081"
ExecStart=/opt/canopsis/bin/canopsis-oldapi $OPTIONS
PIDFile=/var/run/canopsis-oldapi.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
