{{!*
 * @renderer boolean
}}
{{#if value}}
    <span class="label label-success">
        <span class="glyphicon glyphicon-ok"></span>
    </span>
{{else}}
    <span class="label label-default">
        <span class="glyphicon glyphicon-remove"></span>
    </span>
{{/if}}
