.x-progress.widgets-progressbar {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.widgets-progressbar .x-progress-text {
	height: 100%;
}

.widgets-progressbar .x-progress-bar {
	height: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
	border-right: 1px solid #8E8E8E;
}
