$seeAlarmBtnHeight: 18px;

.v-toolbar--fixed {
  z-index: 3;
}

.v-overlay {
  z-index: 8;
}

.v-navigation-drawer--is-mobile, .v-navigation-drawer--temporary {
  z-index: 9;
}

.v-list {
  .v-input {
    &, &__slot {
      margin-top: 4px;
    }

    &__slot {
      margin-bottom: 8px;
    }

    .v-messages {
      display: block;
    }
  }
}

.v-tabs__div {
  max-width: none;
}

.fab {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.wf-loading, .wf-inactive {
  .v-icon {
    max-width: 24px !important;
    max-height: 24px !important;
    overflow: hidden !important;
  }
}

.v-window__container--is-active {
  height: 100% !important;
}

.position-relative {
  position: relative;
}

.validation-header.error--text {
  animation: shake .6s cubic-bezier(.25,.8,.5,1);
  transition: .3s cubic-bezier(.25,.8,.5,1);
}

.draggable {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.v-card__with-see-alarms-btn {
  padding-bottom: $seeAlarmBtnHeight;

  .see-alarms-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: .6em;
    height: $seeAlarmBtnHeight;
    color: white;
    margin: 0;
    background-color: rgba(0, 0, 0, .2);

    &.v-btn--active:before, &.v-btn:focus:before, &.v-btn:hover:before {
      background-color: rgba(0, 0, 0, .5);
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
