.v-toolbar--fixed {
  z-index: 3;
}

table.v-table tbody td, table.v-table thead th {
  border: none!important;
  padding: 0 0.5% !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  white-space: pre-wrap;
}

.v-list {
  .v-input {
    &, &__slot {
      margin-top: 4px;
    }

    &__slot {
      margin-bottom: 8px;
    }

    .v-messages {
      display: block;
    }
  }
}

.v-tabs__div {
  max-width: none;
}

.fab {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.wf-loading, .wf-inactive {
  .v-icon {
    max-width: 24px !important;
    max-height: 24px !important;
    overflow: hidden !important;
  }
}

.v-window__container--is-active {
  height: 100% !important;
}
