{{!*
 * @editor cfilterwithproperties
}}
<span class="label" style="color:black">{{tr 'Title'}}</span>{{input type="text" class="form-control" value=attr.value.title}}
<span class="label" style="color:black">{{tr 'Filter'}}</span>{{component-querybuilder filterValue=attr.value.filter}}
