<span style='float:left; margin-top:10px; margin-bottom:10px; margin-right:10px;'>
    {{{logo connectorType}}}
</span>
<span>
    {{component}} - {{resource}}<br/>
    <small>
        {{metricName}}
    </small>
</span>
