{{#each action in availableActions}}
  <button {{action 'sendAction' action}} type="button" class="btn btn-xs btn-default">
      <i {{bind-attr class=action.class}}></i>
  </button>
{{/each}}

{{#if hasLinks}}
  <div class="btn-group" style="display:flex">
      <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-info"></i>
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" style="right:0; left:auto;">
        {{#each link in alarm.linklist.event_links}}
          <li>
              <a target="_blank" {{bind-attr href=link.url}}>{{link.label}}</a>
          </li>
        {{/each}}
      </ul>
  </div>
{{/if}}