{{#if value.author}}
    {{#component-tooltip content=acktooltip htmlEnabled=true noTranslation=true}}
        <span {{bind-attr class=":badge ackcolor"}} >
            <i class="fa fa-check"></i>
        </span>
    {{/component-tooltip}}
{{/if}}
{{#if tickettooltip}}
    {{#component-tooltip content=tickettooltip htmlEnabled=true noTranslation=true}}
        <span class="badge bg-blue">
            <i class="fa fa-ticket"></i>
        </span>
    {{/component-tooltip}}
{{/if}}
