
<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
                <tr>
                    {{#each field in controller.fields}}
                        <th>{{field}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each alarm in controller.alarms}}
                
                    {{#component-alarmraw alarm=alarm fields=controller.fields}}
                    {{/component-alarmraw}}

                {{/each}}
            </tbody>
        </table>
    </div>
</div>