.search-padding {
  padding-bottom: 20px;
}

.search-invalid-message {
    position: absolute;
    left: 0;
    top: 30px;
}

.action-cell {
  padding-left:0;
  padding-right:0;
  overflow:visible;
}

.invisible {
  display: none;
}

.actions-wrapper {
  width: 110px;
  margin: 3px;
}

.actions-parent {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /*margin: -10px 0 0 -10px;*/
}

/*#formwrapper {
  z-index: 9999
}*/

.bootstrap-datetimepicker-widget {
  z-index: 10000
}

.actions-wrapper i {
  width: 15px;
}

span.bg-unkown {
  background-color: #a640ef;
}
