# amqp2engines.conf for a CAT Go stack

[engine:event_filter]
next = axe,metric,pbehavior

[engine:pbehavior]
event_processing = canopsis.pbehavior.process.event_processing
beat_processing = canopsis.pbehavior.process.beat_processing

[engine:metric]

[engine:scheduler]
[engine:task_importctx]

#
# CAT additional components.
#

[engine:task_ackcentreon]

[engine:snmp]
routing_keys = #
exchange_name = canopsis.snmp
