# Default indexes for mongo db.
# Edit this file only if changes must be published to git.
# Create new file in the config folder to add custom indexes.
# Indexes are created in canopsis db. If there is index with the same name
# this index is NOT updated.
indexes:
#  # Example
#  collection_name:
#    index_name:
#      # Field of the collection and type of the index for that field.
#      # 1 for an ascending index; -1 for descending index.
#      # https://docs.mongodb.com/manual/reference/method/db.collection.createIndex/#definition
#      keys:
#        field1: 1
#        field2: -1
#      # Options that controls the creation of the index.
#      # https://docs.mongodb.com/manual/reference/method/db.collection.createIndex/#options
#      options:
#        background: false
#        unique: false
#        partialFilterExpression:
#          field1:
#            $exists: true
#        sparse: false
#        expireAfterSeconds: 100
#        storageEngine:
#          wiredTiger:
#            configString: "allocation_size=4KB"
#        collation:
#          locale: fr
#          caseLevel: true
#        weights:
#          field1: 1
#        # NOTE: default_language
#        defaultLanguage: french
#        # NOTE: language_override
#        languageOverride: idioma
#        # NOTE: textIndexVersion
#        textVersion: 1
#        # NOTE: 2dsphereIndexVersion
#        sphereVersion: 2
#        bits: 26
#        min: -180
#        max: 180
#        bucketSize: 2
#        wildcardProjection:
#          _id: 1

  default_entities:
    enabled_1:
      keys:
        enabled: 1
      options:
        background: true

  periodical_alarm:
    d_1:
      keys:
        d: 1
      options:
        background: true
    v.meta_1_v.creation_date_1:
      keys:
        v.meta: 1
        v.creation_date: 1
      options:
        background: true
        partialFilterExpression:
          v.meta:
            $exists: true
    v.resolved_1:
      keys:
        v.resolved: 1
      options:
        background: true

  pbehavior:
    name:
      keys:
        name: 1
      options:
        unique: true
        background: true
    v.resolved_1:
      keys:
        v.resolved: 1

  archived_alarms:
    v.resolved_1:
      keys:
        v.resolved: 1

  junit_test_suite:
    test_suite_id_1:
      keys:
        test_suite_id: 1
      options:
        background: true
    entity_id_1:
      keys:
        entity_id: 1
      options:
        background: true
    filename_1:
      keys:
        filename: 1
      options:
        background: true

  junit_test_case_media:
    relative_filepath_1:
      keys:
        relative_filepath: 1
      options:
        background: true

  instruction_execution:
    instruction_1_status_1:
      keys:
        instruction: 1
        status: 1
      options:
        background: true
    status_1_completed_at_1:
      keys:
        status: 1
        completed_at: 1
      options:
        background: true
    alarm_1:
      keys:
        alarm: 1
      options:
        background: true

  instruction_week_stats:
    instruction_1_date_1:
      keys:
        instruction: 1
        date: 1
      options:
        background: true

  instruction_mod_stats:
    instruction_1_date_1:
      keys:
        instruction: 1
        date: 1
      options:
        background: true
