<p>Choose {{model}}:</p>
<p>{{view Ember.Select
        content=availableModels
        optionValuePath="content"
        optionLabelPath="content.crecord_name"
        value=selectedModel
        class="form-control"
}}</p>
