# amqp2engines.conf for a CAT Go stack

[engine:scheduler]
[engine:task_importctx]

#
# CAT additional components.
#

[engine:snmp]
routing_keys = #
exchange_name = canopsis.snmp

[engine:kpi]
beat_interval = 3600
